Source Code/2.0/MCD.UUP/MCD.UUP.CommonUI/Service References/UserService/UserService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_SelectUsersBySystemCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectUsersBySystemCode" />
  </wsdl:message>
  <wsdl:message name="IUserService_SelectUsersBySystemCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectUsersBySystemCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_PhysicsUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:PhysicsUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_PhysicsUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:PhysicsUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="SelectUsersBySystemCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SelectUsersBySystemCode" message="tns:IUserService_SelectUsersBySystemCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SelectUsersBySystemCodeResponse" message="tns:IUserService_SelectUsersBySystemCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhysicsUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/PhysicsUsers" message="tns:IUserService_PhysicsUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/PhysicsUsersResponse" message="tns:IUserService_PhysicsUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#WSHttpBinding_IUserService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectUsersBySystemCode">
      <soap12:operation soapAction="http://tempuri.org/IUserService/SelectUsersBySystemCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhysicsUsers">
      <soap12:operation soapAction="http://tempuri.org/IUserService/PhysicsUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="WSHttpBinding_IUserService" binding="tns:WSHttpBinding_IUserService">
      <soap12:address location="http://张帮顺-个人电脑/UUPService/UserService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://张帮顺-个人电脑/UUPService/UserService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>