Source Code/2.0/RLPlanning/2.Client/MCD.RLPlanning.Client/Service References/UUPGroupService/GroupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="GroupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IGroupService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/GroupService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/GroupService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/GroupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/GroupService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MCD.UUP.Entity" />
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/GroupService.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGroupService_SelectGroupsBySystemCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectGroupsBySystemCode" />
  </wsdl:message>
  <wsdl:message name="IGroupService_SelectGroupsBySystemCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectGroupsBySystemCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_IsExistsUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExistsUserGroup" />
  </wsdl:message>
  <wsdl:message name="IGroupService_IsExistsUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistsUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_InsertGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGroups" />
  </wsdl:message>
  <wsdl:message name="IGroupService_InsertGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_DeleteGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroups" />
  </wsdl:message>
  <wsdl:message name="IGroupService_DeleteGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_UpdateGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroups" />
  </wsdl:message>
  <wsdl:message name="IGroupService_UpdateGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_GetUsersByGroupID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByGroupID" />
  </wsdl:message>
  <wsdl:message name="IGroupService_GetUsersByGroupID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByGroupIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IGroupService">
    <wsdl:operation name="SelectGroupsBySystemCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/SelectGroupsBySystemCode" message="tns:IGroupService_SelectGroupsBySystemCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/SelectGroupsBySystemCodeResponse" message="tns:IGroupService_SelectGroupsBySystemCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExistsUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/IsExistsUserGroup" message="tns:IGroupService_IsExistsUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/IsExistsUserGroupResponse" message="tns:IGroupService_IsExistsUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/InsertGroups" message="tns:IGroupService_InsertGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/InsertGroupsResponse" message="tns:IGroupService_InsertGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/DeleteGroups" message="tns:IGroupService_DeleteGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/DeleteGroupsResponse" message="tns:IGroupService_DeleteGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/UpdateGroups" message="tns:IGroupService_UpdateGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/UpdateGroupsResponse" message="tns:IGroupService_UpdateGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByGroupID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/GetUsersByGroupID" message="tns:IGroupService_GetUsersByGroupID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/GetUsersByGroupIDResponse" message="tns:IGroupService_GetUsersByGroupID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IGroupService" type="tns:IGroupService">
    <wsp:PolicyReference URI="#WSHttpBinding_IGroupService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectGroupsBySystemCode">
      <soap12:operation soapAction="http://tempuri.org/IGroupService/SelectGroupsBySystemCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistsUserGroup">
      <soap12:operation soapAction="http://tempuri.org/IGroupService/IsExistsUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGroups">
      <soap12:operation soapAction="http://tempuri.org/IGroupService/InsertGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroups">
      <soap12:operation soapAction="http://tempuri.org/IGroupService/DeleteGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroups">
      <soap12:operation soapAction="http://tempuri.org/IGroupService/UpdateGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByGroupID">
      <soap12:operation soapAction="http://tempuri.org/IGroupService/GetUsersByGroupID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupService">
    <wsdl:port name="WSHttpBinding_IGroupService" binding="tns:WSHttpBinding_IGroupService">
      <soap12:address location="http://张帮顺-个人电脑/UUPService/GroupService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://张帮顺-个人电脑/UUPService/GroupService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>