Source Code/2.0/RLPlanning/2.Client/MCD.RLPlanning.Client/Service References/UUPPopedomService/PopedomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PopedomService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPopedomService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/PopedomService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/PopedomService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://张帮顺-个人电脑/UUPService/PopedomService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPopedomService_GetUserPopedomByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPopedomByUserName" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_GetUserPopedomByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPopedomByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_GetGroupPopedom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupPopedom" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_GetGroupPopedom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupPopedomResponse" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_HasRightModule_InputMessage">
    <wsdl:part name="parameters" element="tns:HasRightModule" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_HasRightModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasRightModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_GetFormFunctionRight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFormFunctionRight" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_GetFormFunctionRight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFormFunctionRightResponse" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_GetGroupFormFunctionRight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupFormFunctionRight" />
  </wsdl:message>
  <wsdl:message name="IPopedomService_GetGroupFormFunctionRight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupFormFunctionRightResponse" />
  </wsdl:message>
  <wsdl:portType name="IPopedomService">
    <wsdl:operation name="GetUserPopedomByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopedomService/GetUserPopedomByUserName" message="tns:IPopedomService_GetUserPopedomByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopedomService/GetUserPopedomByUserNameResponse" message="tns:IPopedomService_GetUserPopedomByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupPopedom">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopedomService/GetGroupPopedom" message="tns:IPopedomService_GetGroupPopedom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopedomService/GetGroupPopedomResponse" message="tns:IPopedomService_GetGroupPopedom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasRightModule">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopedomService/HasRightModule" message="tns:IPopedomService_HasRightModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopedomService/HasRightModuleResponse" message="tns:IPopedomService_HasRightModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFormFunctionRight">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopedomService/GetFormFunctionRight" message="tns:IPopedomService_GetFormFunctionRight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopedomService/GetFormFunctionRightResponse" message="tns:IPopedomService_GetFormFunctionRight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupFormFunctionRight">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopedomService/GetGroupFormFunctionRight" message="tns:IPopedomService_GetGroupFormFunctionRight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopedomService/GetGroupFormFunctionRightResponse" message="tns:IPopedomService_GetGroupFormFunctionRight_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPopedomService" type="tns:IPopedomService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPopedomService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserPopedomByUserName">
      <soap12:operation soapAction="http://tempuri.org/IPopedomService/GetUserPopedomByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupPopedom">
      <soap12:operation soapAction="http://tempuri.org/IPopedomService/GetGroupPopedom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasRightModule">
      <soap12:operation soapAction="http://tempuri.org/IPopedomService/HasRightModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormFunctionRight">
      <soap12:operation soapAction="http://tempuri.org/IPopedomService/GetFormFunctionRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupFormFunctionRight">
      <soap12:operation soapAction="http://tempuri.org/IPopedomService/GetGroupFormFunctionRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PopedomService">
    <wsdl:port name="WSHttpBinding_IPopedomService" binding="tns:WSHttpBinding_IPopedomService">
      <soap12:address location="http://张帮顺-个人电脑/UUPService/PopedomService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://张帮顺-个人电脑/UUPService/PopedomService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>